<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spree_vendor.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @spree_vendor.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @spree_vendor.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @spree_vendor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @spree_vendor.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @spree_vendor.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @spree_vendor.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @spree_vendor.fax %>
</p>

<p>
  <strong>Active:</strong>
  <%= @spree_vendor.active %>
</p>

<p>
  <strong>Leadtimedays:</strong>
  <%= @spree_vendor.leadtimedays %>
</p>

<%= link_to 'Edit', edit_spree_vendor_path(@spree_vendor) %> |
<%= link_to 'Back', spree_vendors_path %>
